@import url(style.css);



* {
    margin: 0;
    padding: 0;
}

.area-cadastro {

    margin: 50px auto;
    width: 60vw;
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}



.area-formulario{
    display: flex; 
    justify-content: center;
    width: 60vw;
}

.form_cadastro>div {
    display: flex; 
    gap: 30px; 
    width: 50vw;
} 

.DDD input{
    width: 40px;

}

#numero{
    width: 4vw;
} 

.formatacao  div{
    display: flex;
    flex-direction: column; 
    flex: 1;
} 

#DDD , #numero{
    width: 4vw;
} 

input , select{ 
    width: 100%; 
    padding: 7px 0; 
    margin-bottom: 10px;

} 

.area-botao{
    margin-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 

} 

#botao_cadastrar{ 
    width: 50%; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em; 

} 

.link-login{  
    margin-top: -25px;


}