@import url('https://fonts.googleapis.com/css2?family=Playwrite+IE:wght@100..400&display=swap');


:root {

    --cor-principal: #b8aa95;
    --cor-secundario: #5e5a54;
    --cor-botao: #ffcfad;
    --largura-principal: 1600px;
    --largura-celular: 430px;
}






* {
    margin: 0;
    padding: 0;
    font-family: "Playwrite IE", cursive;
}

#home {
    scroll-margin-top: 110px;
}

#bordados {
    scroll-margin-top: 140px;
}

header {
    background-color: var(--cor-principal);
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0;

}


.area_navegacao {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 95%;
    margin: auto;

}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 50px;

}

.icones {

    text-decoration: none;
    color: var(--cor-secundario);
    text-decoration: none;
    color: var(--cor-secundario);
    font-family: "Playwrite IE", cursive;
    font-size: 20px;
    border: 2px solid var(--cor-secundario);
    padding: 10px;
    border-radius: 0 20px;
    font-size: 20px;
    border: 2px solid var(--cor-secundario);
    padding: 10px;
    border-radius: 0 20px;

}



.icones:hover {
    background-color: var(--cor-secundario);
    color: var(--cor-principal);

}


.icones:focus {
    background-color: var(--cor-secundario);
    color: var(--cor-principal);

}

hr {
    width: 1500px;
    margin: auto;
    border-color: var(--cor-botao);
}



.icones {

    padding: 10px 50px;
}

main {
    margin-top: 110px;
}

.logo {

    border: 10px solid var(--cor-botao);
    height: 85px;
    border-radius: 50px;



}

#banner {

    width: var(--largura-principal);
}

#banner__image {
    width: var(--largura-principal);
    margin-top: 10px;
}

#reservas {
    width: 1100px;
    height: 144px;
    border: 2px dashed var(--cor-principal);
    color: var(--cor-principal);
    text-align: center;
    font-size: 25px;
    margin-top: 10px;


}

.area_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reservas__botao {
    padding: 20px 60px;
    color: var(--cor-secundario);
    font-size: 15px;
    background-color: var(--cor-principal);
    border: none;
    border-radius: 15px;


}

#reservas__botao:hover {
    background-color: var(--cor-botao);

}

.sobre_Titulo {
    color: var(--cor-principal);
    text-align: center;
}

.sobre_texto {
    color: var(--cor-principal);

}

.area_sobre {
    display: flex;
    width: 1100px;
    margin: 20px auto;
    justify-content: space-between;

}

.sobre {
    color: var(--cor-principal);
    width: 700px;

}




.texto_rodape {
    margin: auto;
    color: var(--cor-secundario);
}

.area_busca {
    width: var(--largura-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 50px;

}

.Catalogo_titulo {
    font-size: 20px;
    color: var(--cor-principal);
    margin-bottom: 20px;
}


.busca {
    width: 764px;
    height: 40px;
    border: 2px solid var(--cor-principal);
    border-radius: 20px;
    padding: 5px;
    display: flex;
}

.busca__campo {
    flex: 1;
    border: none;
    outline: none;
    font-size: 12px;
}

.busca__botao {
    font-size: 20px;
    border: none;
    background: none;
    color: var(--cor-principal);
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: 1400px;
    margin: 100px auto;

}


.bordados>a>img {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 370px;
    border-radius: 50px;
    border: 10px solid var(--cor-secundario);

}

.texto_imagem {
    text-align: center;
    color: var(--cor-secundario);
}







.rodape {
    background-color: var(--cor-principal);
    margin-top: 500px;

}

.texto_rodape {
    margin: auto;
    color: var(--cor-secundario);
    text-align: center;
}

@media (max-width: 430px) {


    header {
        width: var(--largura-celular);
        height: 90px;
        position: fixed;
        top: 0;
    }

    .area_navegacao {

        width: var(--largura-celular);
        height: 90px;
        justify-content: center;
    }

    .logo {

        display: none;
    }

    ul {
        justify-content: center;

        gap: 10px;



    }



    .icones {

        font-size: 35px;
        border: none;
        padding: 20px;

    }

    .icones:hover {

        background-color: none;
        color: none;

    }

    .area_banner {
        width: var(--largura-celular);
    }

    #banner {

        width: var(--largura-celular);
    }


    #banner__image {

        width: var(--largura-celular);
    }

    #reserva {

        width: 320px;
    }

    #reservas__titulo {
        font-size: 17px;
    }


    #reservas__botao {

        padding: 10px 15px;
        font-size: 15px;
        border-radius: 8px;
    }

    .area_sobre {

        display: block;
    }

    .sobre {
        width: var(--largura-celular);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre_titulo {

        font-size: 35px;
        text-align: center;
    }

    .sobre_texto {
        font-size: 15px;
        text-align: center;
        padding: 20px;

    }

    .sobre_foto {
        width: var(--largura-celular);
        border-radius: 100px;
        padding: 10px;
    }

    .area_busca {
        width: var(--largura-celular);
    }   

    .busca{
        width: 350px;
    }

    hr{
        width: 400px;
    }

    .Catalogo_titulo{
        font-size: 30px;
    }

    .catalogo {
        width: var(--largura-celular);

    } 



}